@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #362FD930;
}
/* navigasi bar */
.navbar { /* mengatur style navigation bar */
    background-color: #C9C1C161;
}
.navbar-toggler{ /* mengatur style tombol menu saat layar diperkecil */
    background-color: #122246;
    border-radius: 25px;
}
.navbar-nav { /* mengatur style navigasi pada navbar */
    background-color: #122246;
    border-radius: 25px;
}
.navbar-nav i {
    font-size: 17px;
}
.sticky-top {
    background: #000;
}